.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.card_body {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card_image {
  width: 30%;
}

.card_main {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_category_info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card_tag_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card_tag_detail {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.card_updated_info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hoge {
  width: 100%;
}

.contain_image > div {
  width: 100%;
}

.image {
  /* max-width: 755px; */
  /* max-height: 290px; */
  /* height: auto; */
}