.side {
  width: 25%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット・スマホ用） */
    width: 100%;
    margin: 0 auto;
  }
}

.side > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.side > section > h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.side > section > div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}